h1{
    text-align: center;
    color: red;
}

/*html{
    font-size: 32px;
}*/

/*p{
    font-size: 1.25rem;
}*/

button{
    font-size: 1em;
}

div{
    font-size: 2em;
}

div p {
    font-size: 1.2em;
}

/* Les images responsive */
.containerImg{
    width: 50%;
    min-width: 400px;
    max-width: 600px;
}

.containerImg img {
  width: 100%;
  height: auto; 
}

/* grille responsive avec flexbox */
.FlexContainer{
    display: flex;
    flex-wrap: wrap;

}
.flexItem{
    width: 20%;
    max-width: 800px;
    min-width: 400px;
   /* border: 2px solid red; */
}

.flexItem img{
    width: 100%;
}

/*medias queries*/

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 2rem;
    text-align: center;
}

.navItem{
    flex-grow: 1;
}

.itemnav1{
    background-color: gray;
}

.itemnav2{
    background-color: pink;
}

.itemnav3{
    background-color: green;
}

.itemnav4{
    background-color: red;
}

@media screen and (max-width: 638px;){
    ul{
        display: flex;
        flex-direction: column;
    }
}
    

